progress {
  height: 10px;
  border: 2px solid #6e0000c2;
  border-radius: 3px;
  min-width: 250px;
}

.progress .color{
    position: absolute;
    background-color: #ffffff;
    width: 0px;
    height: 10px;
    border-radius: 2px;
    animation: progres 4s infinite linear;    
}
progress::-webkit-progress-value {
    background: green;
}

progress::-moz-progress-bar {
  background: lightcolor;
}

#hotbar .vampire-hud.flexcol {
    height: 80px;
    margin: 0 2px;
    padding: 0;
    border: 1px solid #000;
    position: absolute;
    left: 95px;
    bottom: 61px;
    display: flex;
    color: white;
    width: 387px;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 5px #444 inset;
    border-radius: 2px;
    flex-direction: column;
}

#hotbar .vampire-hud.flexcol label{
    /*position: absolute;*/
    bottom: 0px;
    background: #000000c4;
    width: auto;
    display: block;
}

#hotbar .vampire-hud.flexrow progress{
    text-align: center;
    width: 200px;
}

#hotbar .hotbarVampire-picture.flexrow .progress-center{
    text-align: center;
    min-width: 320px;
    width: fit-content;
    /*padding: 0px 0px 15px 0px;*/
}

#hotbar .hotbarVampire-picture.flexrow {
    align-items:center;
    min-width: 385px;
}
#hotbar .hotbarVampire-picture.flexrow .img-health img {
    /*max-width: 60px;
    max-height: 60px;*/
    border:none;
}

#hotbar .hotbarVampire-picture.flexrow .img {
    flex: none;
}

#hotbar .hotbarVampire-picture.flexrow .img img {
    max-width: 60px;
    max-height: 60px;
    border:none;
}

#hotbar .progress-center .fas{
    color:red;
}

#hotbar .hotbarVampire-picture.flexrow .img-health {
    display:none;
}