<div id="hotbar" class="flexrow" data-tooltip-direction="UP">
    <div id="hotbar-directory-controls" class="bar-controls flexcol">
        <a id="bar-toggle" data-tooltip="MACRO.CollapseHotbar">
            <i class="fas fa-caret-down"></i>
        </a>
        <a id="macro-directory" data-tooltip="MACRO.Directory">
            <i class="fas fa-folder"></i>
        </a>
    </div>
    <nav id="action-bar" class="flexrow {{barClass}}"  aria-label="{{localize 'MACRO.NavLabel'}}">
        <div id="vampire-health-hud" class="vampire-hud flexcol"  {{#if this.displayVampireHUD}} style="display:{{this.displayVampireHUD}};"{{/if}}>
            <div id="vampire-health-hud" class="vampire-hud label">
                <label for="file">
                        {{this.tokenname}}
                </label>
            </div>
            <div class="hotbarVampire-picture flexrow" {{#if this.displayBackground}} style="
                background: -webkit-linear-gradient(0deg,#2c7e278a 0%, #7000008a {{this.hpdoubleratio}}%);" {{/if}}>
                <div id="vampire-health-hud" class="vampire-hud img">
                    <img src='{{this.img}}'>
                </div>
                <div id="vampire-health-hud" class="vampire-hud img-health" style="display:{{this.displayHealthImg}};">
                    <img src='{{this.pathToBarsImages}}/vampire-health{{this.hpimgsuffixe}}.png'>
                </div>
                <div class="progress-center" style="display:{{this.displayProgress}};">
                     <i class='fas fa-heart'></i>
                     <progress id="file" value={{this.hp}} max={{this.hpmax}}> 
                        <div class="color">{{this.hpratio}}% </div>
                     </progress> {{this.hpratio}}%
                </div>
            </div>
        </div>
        <ol id="macro-list" class="flexrow" data-page="{{page}}">
            {{#each macros}}
            <li class="macro {{this.cssClass}}" data-slot="{{this.slot}}"
                {{#if this.macro}}data-macro-id="{{this.macro.id}}" data-tooltip="{{this.tooltip}}"{{/if}}>
                <span class="macro-key">{{this.key}}</span>
                {{#if this.icon}}
                <img class="macro-icon" src="{{this.icon}}" alt="{{this.tooltip}}" />
                {{/if}}
            </li>
            {{/each}}
        </ol>
        <div id="hotbar-page-controls" class="bar-controls flexcol" data-tooltip-direction="UP">
            <a class="page-control" data-action="page-up" data-tooltip="MACRO.PageUp" alt="{{localize 'MACRO.PageUp'}}" >
                <i class="fas fa-angle-up"></i></a>
            <span class="page-number">{{page}}</span>
            <a class="page-control" data-action="page-down" data-tooltip="MACRO.PageDown" alt="{{localize 'MACRO.PageDown'}}">
                <i class="fas fa-angle-down"></i>
            </a>
        </div>
    </nav>
</div>
